asgiref==3.8.1
cachetools==5.5.0
cloudinary==1.36.0
crispy-bootstrap5==2024.2
dj-database-url==0.5.0
dj3-cloudinary-storage==0.0.6
Django==5.1
django-allauth==64.1.0
django-cloudinary-storage==0.3.0
django-crispy-forms==2.3
django_sitemaps==2.0.1
google-api-core==2.19.2
google-api-python-client==2.144.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.65.0
gunicorn==20.1.0
httplib2==0.22.0
lxml==5.3.0
oauthlib==3.2.2
pillow==10.4.0
proto-plus==1.24.0
protobuf==5.28.0
psycopg2==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyJWT==2.9.0
pyparsing==3.1.4
python-decouple==3.8
requests-oauthlib==2.0.0
rsa==4.9
sqlparse==0.5.1
stripe==10.9.0
uritemplate==4.1.1
urllib3==1.26.19
whitenoise==6.7.0
