{% extends "store/base.html" %}
{% load static %}

{% block content %}
<h1>
    {% if category_slug %}
        Products in "{{ category_slug | title }}"
    {% else %}
        All Products
    {% endif %}
</h1>

<ul>
    {% for product in products %}
    <li>
        <h2><a href="{% url 'store:product_detail' product.id %}">{{ product.name }}</a></h2>
        <div class="image-container">
            {% if product.featured_image %}
              <img src="{{ product.featured_image.url }}" alt="{{ product.name }}" style="width:250px;">
            {% else %}
              <img src="{% static 'images/default.jpg' %}" alt="default image" style="width:250px;">
            {% endif %}
        </div>
        <p>{{ product.description }}</p>


        {% if product.on_sale %}
          <p>Original Price: <s>${{ product.price }}</s></p>
          <p>Sale Price: <span style="color: red;">${{ product.sale_price }}</span></p>
        {% else %}
          <p>Price: ${{ product.price }}</p>
        {% endif %}
        <p>Rating: {{ product.avg_rating }} / 5</p>


        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Add to Cart</button>
        </form>

    </li>
    {% empty %}
    <p>No products found.</p>
    {% endfor %}
</ul>

{% if category_slug %}
    <a href="{% url 'store:all_products' %}">Back to all products</a>
{% endif %}
{% endblock %}