<!-- product_detail.html -->
{% extends "store/base.html" %}

{% block content %}
<h1>{{ product.name }}</h1>
<img src="{{ product.image.url }}" alt="{{ product.name }}" style="width:250px;">
<p>{{ product.description }}</p>
<p>Price: ${{ product.price }}</p>
<p>Stock: {{ product.stock }}</p>

<h3>Additional Images:</h3>
{% for image in images %}
    <img src="{{ image.image.url }}" alt="{{ product.name }}" style="width:150px;">
{% endfor %}

<a href="{% url 'product_list' product.category.slug %}">Back to {{ product.category.name }}</a>
{% endblock %}