<!-- product_detail.html -->
{% extends "store/base.html" %}
{% load static %}

{% block content %}
<h1>{{ product.name }}</h1>
{% if product.featured_image %}
  <img src="{{ product.featured_image.url }}" alt="{{ product.name }}" style="width:250px;">
{% else %}
  <img src="{% static 'images/default.jpg' %}" alt="default image" style="width:250px;">
{% endif %} 
<p>{{ product.description }}</p>
<p>Price: ${{ product.price }}</p>
<p>Stock: {{ product.stock }}</p>

<h3>Additional Images:</h3>
{% for image in images %}
    <img src="{{ image.featured_image.url }}" alt="{{ product.name }}" style="width:150px;">
{% endfor %}

<a href="{% url 'store:product_list' product.category.slug %}">Back to {{ product.category.name }}</a>
{% endblock %}