{% extends "store/base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Special Offers</h1>

    <div class="row">
        {% for product in products %}
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ product.featured_image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">
                        <span class="text-muted"><s>${{ product.price|floatformat:2 }}</s></span>
                        <span class="text-danger">${{ product.get_sale_price|floatformat:2 }}</span>
                    </p>
                    <a href="{% url 'store:product_detail' product.id %}" class="btn btn-primary btn-block">View Product</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}