{% extends "store/base.html" %}

{% block content %}
<div class="login-container">
  <h2>Login</h2>
  <form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <div class="login-links">
    <p><a href="{% url 'account_reset_password' %}" class="back-link forgot-password-link">Forgot password?</a></p>
    <p><a href="{% url 'account_signup' %}" class="back-link">Sign up</a></p>
  </div>
</div>
{% endblock %}